body{
    background-color: rgba(13,26,45,255);
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95vh;
}
.main-text{
    box-shadow: 5px 5px 5px 5px, 5px 5px 5px 5px ;
    width: 50vh;
    height: 80vh;
    background-color: rgba(21,39,63,255);
}
h1{
    font-size: 30px;
    color: white;
    text-align: center;
}
p{
    text-align: center;
}

img{
    width: 75%;
    height: 60%;
}
.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}      

